:root {
    color-scheme: normal !important;
}

#content {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Home Page */
/* Navbar */
ul {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #6ACE46;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
}

button:hover, a:hover, #menu-toggle-btn:hover, #logo-li:hover {
    cursor: pointer;
}

#search-bar-li i {
    padding-left: 6px;
}

#logo-li img {
    width: 120px;
    height: 50px;
}

ul i {
    color: #FFF;
    font-size: 24px;
}

/* Menu */
#menu {
    background-color: #9FE885;
    display: none;
    flex-direction: column;
    width: 50%;
    height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    z-index: 0;
}

/* TODO: add transition to slide in load */

.menu-tab {
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-content: center;
    font-size: 22px;
}

.menu-tab li {
    padding-left: 5px;
}

/* Folders Heading */
.heading {
    /* z-index: -2; */
    font-size: 30px;
    padding: 30px 0 20px 0;
    width: 100%;
    text-align: center;
}

.add-btn {
    position: absolute;
    right: 5px;
    color: #6ACE46;
}

.back-btn {
    position: absolute;
    left: 5px;
    color: #6ACE46;
}

/* New Folder & Task Forms */
.new-folder-container, .new-task-container {
    width: 100%;
}

#folder-form, #task-form {
    display: none; 
    justify-content: center;
    align-items: center;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus, textarea:focus {
    outline: none;
}

input[type="text"], input[type="date"], select, textarea {
    border: none;
    padding: 3px;
}

select, input[type="date"], textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

.new-folder, .new-task {
    display: grid;
    row-gap: 10px;
    background-color: #6ACE46;
    width: 90%;
    padding: 15px;
    row-gap: 20px;
}

.form-title {
    font-size: 22px;
    text-align: left;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
}

.form-btns {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.form-btn {
    padding: 5px;
}

/* Folders Directory */
.folders-dir, .tasks-list {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opaque {
    position: absolute;
    height: 0;
    width: 0;
    top: 70px;
    left: 50%;
}

.heading-title {
    display: inline-block;
}

/* Folder */
.folders, .tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.folder {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
}

.task {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.full-width {
    width: 100% !important;
}

.act-btns a:not(:last-child) {
    padding-right: 10px;
}

.folder:hover, .folder:active, .task:hover, .task:active {
    background-color: #6ACE46;
    cursor: pointer;
}

/* Task Container */
.task-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-inner-container {
    background-color: #6ACE46;
    width: 90%;
    padding: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-delete-btns {
    display: flex;
    justify-content: end;
    width: 80px;
}

#edit-task-btn, #delete-task-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.task-content {
    display: grid;
    row-gap: 10px;
}

.task-details {
    display: grid;
    row-gap: 10px;
}

.task-details p {
    padding: 4px; 
    background-color: #FFF;
}

.task-details-1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
    padding-top: 10px;
}

.task-details-2 {
    display: grid;
    row-gap: 10px;
}

.task-notes-display {
    width: 100%;
    height: 100%;
}

.task-details-3 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    column-gap: 20px;
}

.task-completed-display {
    justify-self: center;
}

.finished-btns {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Edit Task */
.edit-task-finished-btns {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

@media only screen and (min-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #menu {
        width: 30%;
    }

    #opaque {
        left: 30%;
        width: 70% !important;
    }

    .add-btn {
        right: 25px;
    }

    .back-btn {
        left: 25px;
    }

    #new-task-form {
        width: 50%;
    }
}