#content {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Home Page */
/* Navbar */
ul {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #6ACE46;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
}

button:hover, a:hover, #menu-toggle-btn:hover {
    cursor: pointer;
}

#search-bar-li i {
    padding-left: 6px;
}

#logo-li img {
    width: 50px;
    height: 50px;
}

ul i {
    color: #FFF;
    font-size: 24px;
}

/* Menu */
#menu {
    background-color: #9FE885;
    display: none;
    flex-direction: column;
    width: 50%;
    height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    z-index: 0;
}

/* TODO: add transition to slide in load */

.menu-tab {
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-content: center;
    font-size: 22px;
}

.menu-tab li {
    padding-left: 5px;
}

/* Folders Heading */
.heading {
    /* z-index: -2; */
    font-size: 30px;
    padding: 30px 0 20px 0;
    width: 100%;
    text-align: center;
}

.add-btn {
    position: absolute;
    right: 5px;
    color: #6ACE46;
}

.back-btn {
    position: absolute;
    left: 5px;
    color: #6ACE46;
}

/* New Folder & Task Forms */
.new-folder-container, .new-task-container {
    width: 100%;
}

#folder-form, #task-form {
    /* display: none; */
    justify-content: center;
    align-items: center;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus, textarea:focus {
    outline: none;
}

input[type="text"], input[type="date"], select, textarea {
    border: none;
    padding: 3px;
}

select, input[type="date"], textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

.new-folder, .new-task {
    display: grid;
    row-gap: 10px;
    background-color: #6ACE46;
    width: 90%;
    padding: 15px;
    row-gap: 20px;
}

.form-title {
    font-size: 22px;
    text-align: left;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
}

.form-btns {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.form-btn {
    padding: 5px;
}

/* Folders Directory */
.folders-dir {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opaque {
    position: absolute;
    height: 0;
    width: 0;
    top: 70px;
    left: 50%;
}

.heading-title {
    display: inline-block;
}

/* Folder */
.folders {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.folder {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
}

.act-btns a:not(:last-child) {
    padding-right: 10px;
}

.folder:hover, .folder:active {
    background-color: #6ACE46;
    cursor: pointer;
}
